<div id="fb-root"></div>
<div class="md-padding" layout-gt-sm="row" layout-sm="column" layout-align="start none" layout-align-sm="space-around center">
    <article ng-repeat="texte in textes" class="animate-repeat" flex="90%">

        <md-card>
            <div class='encadrerTexteAccueil'>
                <md-card-header>
                    <md-card-header-text>
                        <span id='titrePrincipale' class="md-title">{{texte.TitreAccueilFR}}</span>

                    </md-card-header-text>
                </md-card-header>

                <md-card-content>
                    <p>{{texte.TexteAccueilFR}}</p>
                </md-card-content>
            </div>
        </md-card>


    </article>


    <twitter-timeline  layout-sm="row">
        <a class="twitter-timeline" data-width="99%" data-height="375" data-theme="dark" data-link-color="#E81C4F" ng-href="https://twitter.com/JamNations">Tweets by JamNations</a>
        <twitter-timeline>



            <div id="fb-root"></div>
            <div class="fb-page" data-href="https://www.facebook.com/jamnations" data-tabs="timeline" data-width="300" data-height="375" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/jamnations" class="fb-xfbml-parse-ignore"><a ng-href="https://www.facebook.com/jamnations">Jam Nations</a></blockquote>
            </div>
</div>


<div class='studioInscrit'>
    <md-card layout-gt-sm="column" layout-sm="column" layout-align="center center" layout-align-xs="start center" flex>

        <p class='textestudio'>Merci aux studios participant :</p>
        <section layout-wrap class="studio" layout-gt-sm="row" layout-sm="row" layout-align="end center" layout-align-xs="end center" flex>

            <article ng-repeat="studio in studios" class="animate-repeat">
                <md-button aria-label="photo" ng-href="#/equipe/{{studio.id}}" id="studioInfo" class="md-nav-button">
                    <img ng-src="media/Contenu/logoEquipe/{{studio.image_e}}" class="image-liste-studio" />


                </md-button>
            </article>
        </section>
    </md-card>
</div>
