.equipeInfo-Principal {
    border-style: ridge;
    border-color: rgba(198, 40, 40, 0.08);
    border-width: 1px;
    //    background-color: $background-logo;
    box-shadow: 0 1px 3px 0;
    tint: (#000000, 44%), 0 1px 1px 0;
    tint: (#000000, 68%);
    //    margin: 10px 10px 10px 10px;
    color: black;
    background-color: #2E2D2D;
    &:hover {
        box-shadow: 0 15px 33px 0;
        tint: (#000000, 49%), 0 12px 14px 0;
        tint: (#000000, 62%);
        transition: box-shadow 200ms, tint 200ms;
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
    &:link {
        text-decoration: none;
    }
    max-width: 100px;
    .image-liste-partenaire-Principal {
        width: 200px;
    }
    display: inline-table;
    text-decoration: none;
    border-radius: 10%;
}
