<div class="md-padding" layout-gt-sm="row" layout-sm="column" layout-align-gt-sm="start none" layout-align-sm="space-around center">

    <div flex-xs flex-gt-xs="50" layout="column">

        <article ng-repeat="detailGamejammembre in detailGamejammembres " class="animate-repeat" flex="90%">


            <md-card>

                <div class='encadrerTexteAccueil'>
                    <div hide-gt-xs>
                        <md-card-header>
                            <div layout="column" layout-align="center center">
                                <md-card-header-text>
                                    <span id='titrePrincipale' class="md-title">Game Jam Édition {{detailGamejammembre.nom_p}}</span>
                                    <article ng-repeat="GamejamSponsorPrincipal in GamejamSponsorsPrincipal[$index+1]">
                                        <h1></h1>
                                        <a target="_blank" class="partenaireInfo-Principal" ng-href="//{{GamejamSponsorPrincipal.urlpartenaire}}">
                                            <img ng-src=media/Contenu/logoPartenaire/{{GamejamSponsorPrincipal.image}} class="image-liste-partenaire-Principal" />
                                        </a>
                                    </article>
                                </md-card-header-text>

                                <div class='textesGameJam' layout="column" layout-align="center center">Le thème: </div>{{detailGamejammembre.theme_g}}
                                <div class='textesGameJam' layout="column" layout-align="center center">La contrainte: </div>{{detailGamejammembre.contrainte_g}}
                                <div class='textesGameJam' layout="column" layout-align="center center">La date: </div>{{detailGamejammembre.dateGamejam}}
                                <div class='textesGameJam' layout="column" layout-align="center center">L'heure: </div>{{detailGamejammembre.heure}}
                                <div class='textesGameJam' layout="column" layout-align="center center">Description: </div>{{detailGamejammembre.description}}
                            </div>

                        </md-card-header>
                        <md-card-content>

                            <p layout="row" class='partenaireTexte' layout-align="center center">Partenaire :</p>
                            <div id='iconeNav' layout="row" layout-xs="column" layout-align="center center" flex>
                                <article ng-repeat="GamejamSponsor in GamejamSponsors[$index+1]">

                                    <p></p>
                                    <a target="_blank" class="partenaireInfo" ng-href="//{{GamejamSponsor.urlpartenaire}}">
                                        <img ng-src=media/Contenu/logoPartenaire/{{GamejamSponsor.image}} class="image-liste-partenaire" />
                                    </a>
                                </article>
                            </div>
                        </md-card-content>
                    </div>
                    <div hide-xs>
                        <md-card-header>
                            <md-card-header-text flex>
                                <span id='titrePrincipale' class="md-title">Game Jam Édition {{detailGamejammembre.nom_p}}</span>

                            </md-card-header-text>
                            <div layout="column" flex>
                                <div class='textesGameJam' layout="column" layout-align="center center">Le thème: </div>{{detailGamejammembre.theme_g}}
                                <div class='textesGameJam' layout="column" layout-align="center center">La contrainte: </div>{{detailGamejammembre.contrainte_g}}
                                <div class='textesGameJam' layout="column" layout-align="center center">La date: </div>{{detailGamejammembre.dateGamejam}}
                                <div class='textesGameJam' layout="column" layout-align="center center">L'heure: </div>{{detailGamejammembre.heure}}
                                <div class='textesGameJam' layout="column" layout-align="center center">Description: </div>{{detailGamejammembre.description}}
                            </div>

                        </md-card-header>

                        <md-card-content>
                            <article ng-repeat="GamejamSponsorPrincipal in GamejamSponsorsPrincipal[$index+1]">
                                <h1></h1>
                                <a target="_blank" class="partenaireInfo-Principal" ng-href="//{{GamejamSponsorPrincipal.urlpartenaire}}">
                                    <img ng-src=media/Contenu/logoPartenaire/{{GamejamSponsorPrincipal.image}} class="image-liste-partenaire-Principal" />
                                </a>
                            </article>
                            <p layout="row" class='partenaireTexte' layout-align="center center">Partenaire :</p>
                            <div id='iconeNav' layout="row" layout-xs="column" layout-align="center center" flex>
                                <article ng-repeat="GamejamSponsor in GamejamSponsors[$index+1]">

                                    <p></p>
                                    <a target="_blank" class="partenaireInfo" ng-href="//{{GamejamSponsor.urlpartenaire}}">
                                        <img ng-src=media/Contenu/logoPartenaire/{{GamejamSponsor.image}} class="image-liste-partenaire" />
                                    </a>
                                </article>
                            </div>
                        </md-card-content>
                    </div>
                </div>
            </md-card>



        </article>

    </div>
    <div layout="column" layout-sm="column" layout-align="center center" layout-align-xs="start center" flex>
        <md-card>
            <div class='encadrerTexteAccueil'>
                <md-card-header>
                    <md-card-header-text>
                        <span id='titrePrincipale' class="md-title" layout='row' layout-align='center'>Jeux produits durant le gamejam</span>

                    </md-card-header-text>
                </md-card-header>

                <md-card-content>
                    <article ng-repeat="JeuGamejam in JeuxGamejam " class="animate-repeat">
                        <div ng-if="JeuGamejam.lien_j">
                            <iframe width="550" frameborder="0" height="100%" ng-src="{{JeuGamejam.lien_j  | trustAsResourceUrl}}" hide-xs></iframe>
                        </div>
                        <div ng-if="JeuGamejam.lien_j">
                            <iframe width="100%" frameborder="0" height="100%" ng-src="{{JeuGamejam.lien_j  | trustAsResourceUrl}}" hide-gt-xs></iframe>
                        </div>
                        <div ng-if="!JeuGamejam.lien_j"> Aucun jeu disponible</div>



                    </article>
                </md-card-content>
            </div>
        </md-card>


    </div>


</div>
<div class='scopeCarte'>


    <md-card>
        <div class='encadrerTexteAccueil'>
            <md-card-header>
                <md-card-header-text>
                    <span id='titrePrincipale' class="md-title" layout='row' layout-align='center'>Participant :</span>

                </md-card-header-text>
            </md-card-header>

            <md-card-content>
                <ng-include ng-controller="CarteMembreCtrl" src="'partiels/carte-membre.html'"></ng-include>
            </md-card-content>
        </div>
    </md-card>
</div>
