//.md-content.md-default-theme, md-content{background: rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px 0;
//  tint: #000000, 44%, 0 1px 1px 0;
//  tint: #000000, 68%;
//background-repeat: no-repeat;}
header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px 0;
    tint: #000000, 44%, 0 1px 1px 0;
    tint: #000000, 68%;
    background-repeat: no-repeat;
}
.LogoNav {
    width: 220px;
    height: 100%;
    margin-left: -9px;
    margin-right: -10px;
}
#iconeNav {
    background-color: #2E2D2D;
    border-radius: 1%;
}
