@media all and (max-width: 600px) and (min-width: 0px) {
    //    .LogoNav  {
    //  width: 65px;
    //
    //    }
    .md-button {
        color: #fff;
        background-color: #2E2D2D;
        border-style: ridge;
        border-color: rgba(198, 40, 40, 0.12);
        border-width: 1px;
    }
}
